{% extends 'base.html.twig' %}

{% block title 'Tous nos bien' %}

{% block body %}
<div class="jumbotron text-center">
	<div class="container">
		<h1>Voici la liste de mes biens immo</h1>		
	</div>
</div>
{% endblock %}
